<section id="about" class="pt-5 mt-5">


      <div class="about-header text-center text-white">
        <h1 class="fs-1 fw-bolder display-1">ABOUT</h1>
        <p class="start py-3"><i class="fa-solid fa-star  fa-2xl"></i></p>
      </div>
    <div class="container">
      <div class="row m-auto pb-5">
        <div class="col-md-5">
          <div class="about-content fs-4 text-white mb-3">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="about-content fs-4 text-white mb-3">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
        </div>
      </div>
  </div>
</section>
