


  <div class="hero vh-100">

    <div class="main-contact text-center">
      <div class="row">
        <div class="col-md-12 mt-5">


      <div class="hero-img">
        <img [src]="imgUrl" class="hero-image" alt="">
      </div>
  <div class="hero-content">
  <h1 class="display-3 fw-bold">START ANGULAR</h1>
  <p class="start py-2"><i class="fa-solid fa-star  fa-2xl"></i></p>
  <p class ="py-2 fs-4">Graphic Artist - Web Designer - Illustrator</p>
  </div>
    </div>

</div>

    </div>
      </div>
