.btn-send
{
  background-color:  #1abc9c;
  border: 0;
  border-radius: 5%;
  padding:15px 25px;
  color: #fff;
  font-size: large;
  font-weight: 700;
}
.btn-send:hover{
background-color: #239780;
}
