<section id="contact">
  <div class="head-portfolio  text-center" style="color: #2c3e50;">
    <h1 class="text-uppercase mt-5 display-5 fw-bolder">contact me</h1>
    <p class="start-body py-2"><i class="fa-solid fa-star  fa-2xl"></i></p>
  </div>
  <div class="container">
    <div class="row  mb-5">
      <div class="col-md-8 m-auto">
        <div class="form mt-4">
          <div class="mb-3">
            <input type="email" class="form-control-plaintext border-bottom fs-4 mt-2" id="exampleFormControlInput1" placeholder="Name">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control-plaintext border-bottom fs-4 mt-2" id="exampleFormControlInput1" placeholder="Email Address">
          </div>

          <div class="mb-3">
            <input type="email" class="form-control-plaintext border-bottom fs-4 mt-2" id="exampleFormControlInput1" placeholder="Phone Number">
          </div>
          <div class="mb-3">

            <textarea class="form-control-plaintext border-bottom fs-4 mt-2"  rows="4" placeholder="Message"></textarea>
          </div>
          <button type="button" class="btn-send">Send</button>
        </div>
      </div>
    </div>

  </div>
</section>
