<section id="portfolio">
<div class="head-portfolio  text-center">
  <h1 class="text-uppercase mt-5 display-5">portfolio</h1>
  <p class="start-body py-2"><i class="fa-solid fa-star  fa-2xl"></i></p>
</div>
<div class="container">
  <div class="row mt-3">
 <div class="col-lg-4 col-md-6">
  <div class="port-content my-4 position-relative">
    <div class="image-porfolio">
      <img [src]="imagePath1" class="w-100" alt="" srcset="">
    </div>
    <div class="overlay">
      <i class="fa-solid fa-plus fa-3x text-white"></i>
    </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-6">
  <div class="port-content my-4">
    <div class="overlay">
      <i class="fa-solid fa-plus fa-3x text-white"></i>
    </div>
    <div class="image-porfolio">
      <img [src]="imagePath2" class="w-100" alt="" srcset="">
    </div>
  </div>
 </div>


 <div class="col-lg-4 col-md-6">
  <div class="port-content my-4">
    <div class="overlay">
      <i class="fa-solid fa-plus fa-3x text-white"></i>
    </div>
    <div class="image-porfolio">
      <img [src]="imagePath3" class="w-100" alt="" srcset="">
    </div>
  </div>
 </div>

 <div class="col-lg-4 col-md-6">
  <div class="port-content my-4">
    <div class="overlay">
      <i class="fa-solid fa-plus fa-3x text-white"></i>
    </div>
    <div class="image-porfolio">
      <img [src]="imagePath4" class="w-100" alt="" srcset="">
    </div>
  </div>
 </div>

 <div class="col-lg-4 col-md-6">
  <div class="port-content my-4">
    <div class="overlay">
      <i class="fa-solid fa-plus fa-3x text-white"></i>
    </div>
    <div class="image-porfolio">
      <img [src]="imagePath5" class="w-100" alt="" srcset="">
    </div>
  </div>
 </div>

 <div class="col-lg-4 col-md-6">
  <div class="port-content my-4">
    <div class="overlay">
      <i class="fa-solid fa-plus fa-3x text-white"></i>
    </div>
    <div class="image-porfolio">
      <img [src]="imagePath6" class="w-100" alt="" srcset="">
    </div>
  </div>
 </div>




  </div>
</div>
</section>
